{% extends "layouts/base.html" %}

{% block content %}

<h1 id="page-title">Axum + Alpine Demo</h1>

<form id="js-toggle-form" method="post" action="/toggle-js">
    <button type="submit">{% if js %}Disable{% else %}Enable{% endif %} JavaScript</button>
</form>

{{ errors | safe }}


<div id="todo-container">
    <form id="add-todo-form" method="post" action="/todos" x-target="todos-inner" x-data="{description: ''}"
        @ajax:after="description = ''">
        <input type="text" name="description" placeholder="New todo" required autofocus x-model="description">
        <button type="submit">Add</button>
    </form>

    <form id="clear-todos-form" method="post" action="/todos/clear-done" x-target="todos-outer">
        <button type="submit">Clear Completed</button>
    </form>

    {{ todos | safe }}
</div>

{% endblock %}